html, body {
    width: 100%;
    height: 100%;
}



h1{
    margin-left: 450px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

#charizard{
    height: 400px;
    margin-left: 500px;
}

#squirt{
    margin-left: 100px;
}

#bulb{
    margin-left: 60px;
}

#poke{
    margin-left: 550px;
    color: white;
    font-size: 70px;
}

#char{
    margin-right: 100px;
}

#charm{
    height: 220px;
}

#gotcha_bulb{
    margin-left: 600px;
    height: 220px;
}

#turtle{
    margin-left: 550px;
}

.container{
    margin-left: 550px;
    margin-top: 100px;
}

#evolve{
    margin-left: 325px;
    margin-top: 10px;
}

#charmeleon{
    margin-left: 590px;
    height: 280px;
}

#dino{
    margin-left: 650px;
    margin-top: 100px;
}

#turtle{
    margin-top: 100px;
}


button{
    height: 80px;
    width: 80px;
}

a{
    color: transparent;
}

#ivy_is_here{
    margin-left: 560px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

#ivysaur{
    margin-left: 580px;
    height: 250px;

}

.row{
    margin-left: 390px;
    margin-top: 150px;
}

#eat{
    margin-left: 100px;
}