h1{
    margin-left: 450px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

#squirt{
    margin-left: 100px;
}

#bulb{
    margin-left: 60px;
}

#poke{
    margin-left: 550px;
    color: white;
    font-size: 70px;
}

#char{
    margin-right: 100px;
}

#charm{
    height: 220px;
}

#gotcha_bulb{
    margin-left: 600px;
    height: 220px;
}

#turtle{
    margin-left: 550px;
}

.container{
    margin-left: 550px;
    margin-top: 100px;
}

#evolve{
    margin-left: 325px;
    margin-top: 10px;
}

#charmeleon{
    margin-left: 590px;
    height: 300px;
}

#dino{
    margin-left: 650px;
    margin-top: 100px;
}

#turtle{
    margin-top: 100px;
}


button{
    height: 80px;
    width: 80px;
}

a{
    color: transparent;
}

.row{
    margin-left: 390px;
    margin-top: 150px;
}