h1{
    margin-left: 450px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

#squirt{
    margin-left: 100px;
}

#bulb{
    margin-left: 60px;
}

#poke{
    margin-left: 550px;
}

#gotcha_bulb{
    margin-left: 500px;
}

#turtle{
    margin-left: 550px;
}

.container{
    margin-left: 610px;
}

#dino{
    margin-left: 570px;
}

button{
    height: 80px;
    width: 80px;
}

a{
    color: white;
}